.footer {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%; /* Ocupa todo el ancho del footer */
    margin: 0; /* Elimina márgenes */
  }
  
  .footer-item {
    flex: 1; /* Cada elemento ocupa el mismo espacio disponible */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  /* LO DE ABAJO ES IRRELEVANTE, NO ES IMPORTANTE Y CONSIDERADO PARA EL CSS ACTUAL comienza el footer */

.footer-index {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(40, 46, 51);
    padding: 15px;
    position: relative;
}


.nombres-footer {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 10%;
}

.logo-db {
    width: 35%;
}

#texto-footer {
    align-self: center;
}
